.row {
    
    .row--b-margin-until-medium {
        margin-bottom: 1rem;
    }
    
    @mixin atMedium {
        
        display: flex;
        
        .row--b-margin-until-medium {
            margin-bottom: 0;
        }
        
        &--gutters > div {
            padding-right: 65px;
        }
        
        &--gutters-last-null div:last-child{
            padding-right: 0; 
        }
        
        &--gutters-large {
            
        }
        
        &--gutters-large > div {
            padding-right: 100px;
        }
        
        &--medium-4 {
            width: 33.33%;
        }
        
         &--medium-4--larger {
             width: 37%;
        }
        
        &--medium-6 {
            width: 50%;
        }
        
        &--medium-8 {
            width: 66.66%;
        }
        
        &--medium-8--smaller {
            width: 63%;
        }
        
    }
    
}
